body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;

  padding-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  width: 250px;
}

button:hover {
  opacity: 0.8;
}

.boton-crear {
  background-color: #28a745;
  color: white;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  max-width: 100%;
}

li span {
    flex: 1;
}

.acciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}


.acciones button {
    display: inline-flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}